	<!-- Dialog -->
	<div class="jdialog closed rounded anm-moveFromTopEase slow" id="contact-forms">
		<div class="content">
			<section class="col-3 universe">
				<a class="idtrigger button-close" href="#contact-forms">X</a>
				<h3 class="title">Col·labora!</h3>
				<div class="cell">
					<a class="button flat green" href="https://goo.gl/forms/oKkJ9BMiLR5Vu0D13" target="blank" title="Formulari de Contacte">Formulari de Contacte</a>
					<p>Contacta amb la redacció de la realitat*</p>
				</div>
				<div class="cell">
					<a class="button flat green" href="https://goo.gl/forms/YeMlhwCIJxPgfF312" target="blank" title="Informa'ns de Convocatòries">Formulari de Convocatòries</a>
					<p>Fes-nos arribar convocatòries d'actes i mobilitzacions</p>
				</div>
				<div class="cell">
					<a class="button flat green" href="https://goo.gl/forms/kteTkMpTzvrGNS3K3" target="blank" title="Fes-nos arribar Notícies i articles">Formulari de Notícies</a>
					<p>Informa'ns d'allò que passa al teu voltant</p>
				</div>
				<hr>
				<p class="lead">ajuda'ns a conèixer i transformar la realitat*</p>
			</section>
		</div>
	</div>