		<section id="site-map" class="anm-fadeIn delay-3000">
			<div class="content universe">
				<div class="cell-6 pushed-3"><a href="http://www.realitat.cat" title="Realitat"><img src="http://codi.realitat.cat/src/img/header-realitat-big.png" alt="realitat*"></a></div>
				<hr class="no-margin">
				<ul class="list-unlisted">
					<li><a href="http://www.realitat.cat" title="www.realitat.cat">www.realitat.cat</a></li>
					<li><a href="http://bloc.realitat.cat" title="Bloc d'articles de la realitat*">Articles</a></li>
					<li><a href="http://noticies.realitat.cat" title="Notícies de la realitat*">Notícies</a></li>
					<li><a href="http://publicacions.realitat.cat" title="Publicacions de la realitat*">Publicacions</a></li>
					<li><a href="http://lesarrels.realitat.cat" title="les Arrels: la Columna literària de Miquel Àngel Soria a la realitat*">les Arrels</a></li>
					<li><a href="http://bloc.realitat.cat/2015/04/que-fer-davant-la-realitat.html" title="Què fer davant la realitat*?">Sobre nosaltres</a></li>
					<li>
						<i class="unify grey hidden-phone">@larealitat a:</i> 
						<a href="http://www.twitter.com/larealitat" title="Perfil a Twitter de la realitat*">Twitter</a> | 
						<a href="http://www.facebook.com/larealitat" title="Pàgina a Facebook de la realitat*">Facebook</a> | 
						<a href="https://t.me/larealitat" title="Canal a Telegram de la realitat*">Telegram</a>
					</li>
				</ul>
				<hr class="no-margin">
			</div>
		</section>
		
		<section id="site-author" class="flat hard-grey anm-fadeIn delay-3000">
			<div class="content universe">
					<h2><small>edita</small></h2>
					<a href="http://comunistes.cat" title="www.comunistes.cat" class="button-image anm-moveFromTopFade"><img src="http://codi.comunistes.cat/logo/logocomunistes-base-negative.png" alt="Comunistes de Catalunya"></a>
					<p class="lead">Comunistes de Catalunya</p>
			</div>
		</section>
				
		<section id="site-map" class="flat black anm-fadeIn delay-3000">
			<div class="content universe">
				<hr>
				<blockquote class="book-quote l">
					<p>Les coses són senceres allò que aparenten, i darrera d'elles... no hi ha res.</p>
					<cite>Jean-Paul Sartre</cite>
				</blockquote>
				<hr class="no-margin">
			</div>
		</section>
		
		<footer id="terms-footer" class="universe flat black anm-fadeIn delay-3000">
			<div class="content">
				<p>
					<span class="license symbol-copyright"> 2015 <a href="http://comunistes.cat" title="www.comunistes.cat">Comunistes de Catalunya</a></span> 
					<span class="symbol-recycle2"><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca" title="Termes de la llicència">(By-nc-sa)</a> </span> 
					<span class="symbol-chess-black-rook"><adress><a href="https://www.google.es/maps/place/Carrer+de+Liuva,+39,+08030+Barcelona/@41.431129,2.1898449,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4bcda8f9c3317:0x2023f150cbd667ba!8m2!3d41.431129!4d2.1920336" title="Plànol">carrer Liuva, 39-45, Barcelona</a></adress> | <span class="symbol-blackphone"><a href="tel:+34933184282" title=""Truca'ns">(0034) 93 318 42 82</a></span>  
					<span class="email symbol-email"><a href="mailto:info@realitat.cat" title="Escriu-nos">info@realitat.cat</a></span> 
					<span class="symbol-registered"> Dipòsit legal: B-46492-88</span> 
					<span class="legal symbol-justice"><a href="http://codi.realitat.cat/avislegal/" title="Informació legal">Avís legal</a></span> 
					<span class="legal symbol-gear"><a href="http://codi.realitat.cat/codicomunistes/" title="Informació legal">Codi font</a></span>  
				</p>
				<hr>
			</div>
		</footer>