		<nav class="anm-fadeIn delay-1000" id="site-nav">
			<div class="content">
				<input class="toggletrigger" type="checkbox" id="mob-nav" name="mob-nav" aria-hidden="true" hidden>
				<label for="mob-nav" class="toggle">Menú <span class="caret"></span></label>
				<div id="nav-collapse" class="togglecollapsed">
					<a href="http://www.realitat.cat" title="www.realitat.cat"><b>realitat<em class="unify red">*</em></b></a>
					<a href="http://bloc.realitat.cat" title="Bloc d'articles de la realitat*">Articles</a>
					<a href="http://noticies.realitat.cat" title="Notícies de la realitat*">Notícies</a>
					<a href="http://publicacions.realitat.cat" title="Publicacions de la realitat*">Publicacions</a>
					<a href="http://miquelangelsoria.realitat.cat" title="La columna literària de Miquel Àngel Soria a la realitat*">Les Arrels</a>
					<a href="http://alfonsalesquerra.realitat.cat" title="La columna cultural amb classe de la realitat*">Al fons a l'esquerra</a>
					<a href="http://codi.realitat.cat/xarxa/" title="Xarxa de la realitat*">Xarxa</a>
					<a class="button-modal" href="#contact-forms" title="Ajuda'ns a conèixer i transformar la realitat*">Col·labora!</a>
					<form class="form-search" action="http://www.google.com/cse"> 
						<input type="hidden" name="cx" value="007620493827235173837:p9bytcfv9gu"> 
						<input type="text" name="q" class="terms squared" placeholder="cerca"> 
						<input type="submit" name="sa" class="search" value="·"> 
					</form>
				</div>
			</div>
		</nav>