		<div class="jcollapser">
			<h5 class="thin jtrigger">{{ site.name }}</h5>
			<ul class="jcollapsed closed">
				<li><a href="http://www.hipertextos.net" title="Home">Home</a></li>
				<li><a href="http://articles.hipertextos.net" title="Hipertextos blog">Blog</a></li>
				<li><a href="http://code.hipertextos.net" title="Hipertextos code projects">Code projects</a></li>
				<li><a href="{{ site.baseurl }}/docs/services.html" title="Hipertextos services">Services</a></li>
				<li><a href="{{ site.baseurl }}/docs/iching.html" title="Hipertextos phylosophy">Phylosophy</a></li>
			</ul>
			<h5 class="jtrigger thin">Framework</h5>
			<ul class="jcollapsed">
				<li><a href="{{ site.baseurl }}/docs/framework.html" title="Index">Index</a></li>
				<li><a href="{{ site.baseurl }}/docs/pages.html" title="HTML5 starter">Pages</a></li>
				<li><a href="{{ site.baseurl }}/docs/styles.html" title="CSS base">Styles</a></li>
				<li><a href="{{ site.baseurl }}/docs/scripts.html" title="Simple jQuery">Scripts</a></li>
				<li><a href="{{ site.baseurl }}/docs/icons.html" title="SVG icons injected with jQuery">Icons</a></li>
				<li><a href="{{ site.baseurl }}/docs/anime.html" title="Animations library">Anime</a></li>
				<li><a href="{{ site.baseurl }}/docs/download.html" title="Download Hipertextos Framework">Download</a></li>
			</ul>
		</div>