<svg version="1.1"
	 id="svg4231" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" inkscape:version="0.47 r22583" sodipodi:docname="New document 26" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
	 viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
<defs>
	
	
		<inkscape:perspective  id="perspective4239" sodipodi:type="inkscape:persp3d" inkscape:vp_x="0 : 32 : 1" inkscape:vp_y="0 : 1000 : 0" inkscape:vp_z="64 : 32 : 1" inkscape:persp3d-origin="32 : 21.333333 : 1">
		</inkscape:perspective>
	
		<inkscape:perspective  id="perspective4219" sodipodi:type="inkscape:persp3d" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_y="0 : 1000 : 0" inkscape:vp_z="1 : 0.5 : 1" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>
</defs>
<sodipodi:namedview  id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="3.8890873" inkscape:cx="-15.758389" inkscape:cy="39.724597" inkscape:current-layer="layer1" showgrid="true" inkscape:document-units="px" inkscape:grid-bbox="true" inkscape:window-width="1280" inkscape:window-height="674" inkscape:window-x="0" inkscape:window-y="24" inkscape:window-maximized="1">
	</sodipodi:namedview>
<g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer">
	<path id="path2830" fill="#1A171B" d="M121.806,268.459l31.188,0.312l-1.086,138.869h207.549V269.275h32.859v172.09H121.64
		L121.806,268.459z"/>
	<rect id="rect3604" x="172.661" y="350.56" fill="#1A171B" width="162.574" height="34.591"/>
	<polygon id="rect3606" fill="#1A171B" points="176.471,288.312 339.16,304.012 335.748,339.302 173.066,323.608 	"/>
	
		<rect id="rect3606-1" x="183.469" y="239.438" transform="matrix(0.9624 0.2716 -0.2716 0.9624 79.8167 -62.3601)" fill="#1A171B" width="163.446" height="35.459"/>
	<polygon id="rect3606-1-3" fill="#1A171B" points="229.485,138.341 369.392,222.842 351.055,253.195 211.151,168.69 	"/>
	<polygon id="rect3606-1-3-7" fill="#1A171B" points="309.066,62.99 404.252,195.849 375.439,216.5 280.243,83.642 	"/>
	
		<rect id="rect3606-1-3-7-6" x="333.901" y="92.671" transform="matrix(0.1649 0.9863 -0.9863 0.1649 455.9724 -317.7379)" fill="#1A171B" width="163.443" height="35.456"/>
</g>
</svg>
