/* Red skin */

.skin-grid {
	background-image: url('../../img/base.png');
}


@media (max-width: 768px) {

	footer {
		text-align: center;
	}

}

.post img {
	border-radius: 50%;
	float: left;
	height: 8em;
	margin: 0 .5em;
	width: 8em;
}