<!DOCTYPE html>
<html lang="ca">
	<head>
		<!-- meta -->
		<meta charset="utf-8">
		<title><$BlogPageTitle$></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="Informació classe treballadora">
		<meta name="author" content="Comunistes de Catalunya">
		<!-- Metadata: GeoTags -->
		<meta name="geo.region" content="Catalunya">
		<meta name="geo.placename" content="Barcelona">
		<meta name="geo.position" content="41.426812;2.234972">
		<meta name="ICBM" content="41.426812;2.234972">
		<!-- Screen styles -->
		<link href="http://codi.comunistes.cat/src/css/styles.css" rel="stylesheet" media="screen">
		<link href="http://codi.comunistes.cat/src/css/anime.css" rel="stylesheet" media="screen">
		<link href="http://codi.comunistes.cat/src/css/realskin.css" rel="stylesheet" media="screen">
		<!-- Print styles -->
		<link href="http://codi.comunistes.cat/src/css/print.css" rel="stylesheet" media="print">
		<!-- If iexplorer :( -->
		<!--[if lt IE 9]><script src="http://codi.comunistes.cat/src/js/html5shiv.js"></script><![endif]-->
		<!--[if IE]><link rel="stylesheet" type="text/css" href="http://codi.comunistes.cat/src/css/iexplorer.css" /><![endif]-->
		<!-- If JS disabled -->
		<noscript><link href="http://codi.comunistes.cat/src/css/noscript.css" rel="stylesheet" media="screen"></noscript>
		<!-- Site Feed -->
		<link rel="alternate" type="application/rss+xml" title="rss" href="<$BlogSiteFeedUrl$>">
		<!-- Page Icons -->
		<link rel="shortcut icon" href="http://codi.comunistes.cat/src/ics/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="http://codi.comunistes.cat/src/ics/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="http://codi.comunistes.cat/src/ics/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="http://codi.comunistes.cat/src/ics/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="http://codi.comunistes.cat/src/ics/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="http://codi.comunistes.cat/src/ics/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="http://codi.comunistes.cat/src/ics/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#dddddd">
		<meta name="msapplication-TileImage" content="http://codi.comunistes.cat/src/ics/mstile-144x144.png">
		<meta name="msapplication-config" content="http://codi.comunistes.cat/src/ics/browserconfig.xml">
	</head>
	<body>
  
	<!-- Page content -->
	<div class="page" id="page">
	
		<header id="blog-header" class="header-app base universe">
			<div class="content">
				<div class="thumb-3">
					<a href="#sitemap" title="" class="button-icon unify black circled icon anm-zoomInLeft delay-2000"><span class="icn-menu"></span></a>
				</div>
				<div class="thumb-6">
					<h1 class="universe"><a href="<$BlogUrl$>" title="<$BlogDescription$>" class="anm-zoomInDown delay-100"><$BlogTitle$></a></h1>
				</div>
				<div class="thumb-3">
					<form class="form-google anm-zoomInRight delay-2000" action="http://www.google.com/cse"> 
						<input type="hidden" name="cx" value="007620493827235173837:iw6nd8cvpza"> 
						<input type="text" name="q" class="terms squared" placeholder="cerca"> 
						<input type="submit" name="sa" class="search" value="·"> 
					</form>
				</div>
			</div>
		</header>
		<div id="white-space"></div>		
	
		<MainOrArchivePage>
		<nav class="paper anm-fadeIn delay-500 slow">
			<div class="content universe">
				<input class="toggletrigger" type="checkbox" id="mob-nav" name="mob-nav" aria-hidden="true" hidden>
				<label for="mob-nav" class="toggle">Menú <span class="caret"></span></label>
				<div id="nav-collapse" class="togglecollapsed">
					<a href="<$BlogUrl$>" title="Portada" class="white-hover black">Realitat</a>
					<a href="<$BlogUrl$>search/label/Editorial" title="Realitat: Editorials" class="white-hover grey">Editorial</a>
					<a href="<$BlogUrl$>search/label/Local" title="Realitat: Local" class="white-hover green">Local</a>
					<a href="<$BlogUrl$>search/label/Nacional" title="Realitat: Nacional" class="white-hover yellow">Nacional</a>
					<a href="<$BlogUrl$>search/label/Internacional" title="Realitat: Internacional" class="white-hover orange">Internacional</a>
					<a href="<$BlogUrl$>search/label/Moviment Obrer" title="Realitat: Moviment Obrer" class="white-hover red">Mov Obrer</a>
					<a href="<$BlogUrl$>search/label/Moviment Socials" title="Realitat: Moviments Socials" class="white-hover violet">Mov Socials</a>
					<a href="<$BlogUrl$>search/label/Històrica" title="Realitat: Història" class="white-hover blue">Història</a>
					<a href="<$BlogUrl$>search/label/Coneixement" title="Realitat: Coneixement" class="white-hover turquoise">Coneixement</a>
				</div>
			</div>
		</nav>
		<main id="blog-content" class="paper anm-fadeIn delay-500 slow">
			<div class="content">
				<div class="cell-3">
					<div class="button-centered hidden-phone">
						<a href="" class="button-icon circled lines grey anm-zoomInLeft delay-1500" title="Sol·licita'ns o envia'ns informació"> Info </a><br>
					</div>
				</div>
				<div class="cell-6">
					<h2 class="universe"><small>Articles</small></h2>
					<Blogger>
						<article class="post anm-fadeIn delay-500 slow" id="<$BlogItemNumber$>">
							<h3 class="post-title"><a href="<$BlogItemPermalinkUrl$>" title="Article: <$BlogItemTitle$>"><$BlogItemTitle$></a></h3>
							<h6 class="post-date"><a href="<$BlogUrl$><$BlogItemArchiveFileName$>" title="<$BlogItemArchiveFileName$>"><time><$BlogItemDateTime$></time></a></h6>
							<div class="post-excerpt"><$BlogItemBody$></div>
						</article>
					</Blogger>
					<nav class="pagination"><$BlogPaginationLinks$></nav>
					<hr>
				</div>
				<div class="cell-3">
					<div class="button-centered">
						<a href="http://twitter.com/?status=<$BlogURL$>" class="button-icon lines soft-blue anm-zoomInRight delay-1500" title="Comparteix a Twitter">Tw</a><br class="hidden-phone">
						<a href="http://www.facebook.com/sharer.php?u=<$BlogURL$>&t=<$BlogItemTitle$>" class="button-icon lines blue anm-zoomInDown delay-1500" title="Comparteix a Facebook">Fb</a><br class="hidden-phone">
						<a href="https://plusone.google.com/_/+1/confirm?hl=en&url=<$BlogURL$>" class="button-icon lines red anm-zoomInLeft delay-1500" title="Comparteix a Google +">G+</a>
					</div>
				</div>
				<hr>
			</div>
		</main>
		</MainOrArchivePage>
		
		
		<ItemPage>
		<header id="article-header" class="universe lines grey anm-fadeIn slow">
			<div class="content">
				<div class="prev-next"><$BlogPaginationLinks$></div>
				<Blogger>
					<h6 class="anm-fadeIn delay-500"><strong><a href="<$BlogUrl$>" title="<$BlogTitle$>">Article</a></strong></h6>
					<h1 id="article-title" class="anm-zoomInDown delay-100"><$BlogItemTitle$></h1>
					<h2 id=article-data" class="s anm-moveFromBottomFade delay-900"><a href="<$BlogUrl$><$BlogItemArchiveFileName$>" title="<$BlogItemArchiveFileName$>"><time><$BlogItemDateTime$></time></a></h2>
				</Blogger>
			</div>
		</header>
		<main id="article-content" class="anm-fadeIn delay-500 slow">
			<div class="content">
				<div class="cell-3 hidden-phone">
					<div class="button-centered">
						<a href="" class="button-icon circled lines grey anm-zoomInLeft delay-1500" title="Sol·licita'ns o envia'ns informació"> Info </a><br>
					</div>
				</div>
				<div class="cell-6">
					<Blogger>
						<div id="article-body" class="post-item prose anm-fadeIn delay-500 slow">
							<$BlogItemBody$>
						</div>
						<hr>
						<p class="universe"><a href="<$BlogItemUrl$>" title="Veure la font en una nova pàgina" target="blank"><$BlogItemUrl$></a></p>
						<hr>
					</Blogger>
					<nav class="pagination"><$BlogPaginationLinks$></nav>
					<hr>
					<Blogger>
						<BlogItemCommentsEnabled>
						<aside id="comment-form">
						   <h4 class="universe"><$BlogItemCommentCount$> Comentari(s):</h4>
						   <BlogItemComments>
								<a name="<$BlogCommentNumber$>"></a>
								<div class="conversation-a">
									<p><strong><$BlogCommentAuthor$> ha dit:</strong><br /><$BlogCommentBody$></p>
									<p>at <a href="#<$BlogCommentNumber$>"><$BlogCommentDateTime$></a><$BlogCommentDeleteIcon$></p>
								</div>
								<hr />
							</BlogItemComments>
						   <div class="button-centered"><a class="button-icon lines green" title="Publica un comentari" href="<$BlogItemCommentCreate$>" <$BlogItemCommentFormOnClick$>>+</a></div>
						</aside>
						<hr>
						</BlogItemCommentsEnabled>
					</Blogger>
				</div>
				<div class="cell-3">
					<div class="button-centered">
						<Blogger>
							<a href="http://twitter.com/?status=<$BlogItemPermalinkURL$>" class="button-icon lines soft-blue anm-zoomInRight delay-1500" title="Comparteix a Twitter">Tw</a><br class="hidden-phone">
							<a href="http://www.facebook.com/sharer.php?u=<$BlogItemPermalinkURL$>&t=<$BlogItemTitle$>" class="button-icon lines blue anm-zoomInRight delay-1500" title="Comparteix a Facebook">Fb</a><br class="hidden-phone">
							<a href="https://plusone.google.com/_/+1/confirm?hl=en&url=<$BlogItemPermalinkURL$>" class="button-icon lines red anm-zoomInRight delay-1500" title="Comparteix a Google +">G+</a>
						</Blogger>
					</div>
				</div>
				<hr>
			</div>
		</main>
		</ItemPage>
		
		<section id="sitemap" class="flat black anm-fadeIn delay-500 slow">
			<div class="content universe">
				<header class="">
					<h2><a href="<$BlogUrl$>" title=">$BlogTitle$>">Realitat</a></h2>
					<p class="lead">Òrgan d'expressió de Comunistes de Catalunya</p>
				</header>
				<div class="">
					<a class="button flat black" href="<$BlogUrl$>search/label/Editorial" title="Realitat: Editorials">Editorials</a>
					<a class="button flat green" href="<$BlogUrl$>search/label/Local" title="Realitat: Local">Local</a>
					<a class="button flat turquoise" href="<$BlogUrl$>search/label/Nacional" title="Realitat: Nacional">Nacional</a>
					<a class="button flat blue" href="<$BlogUrl$>search/label/Internacional" title="Realitat: Internacional">Internacional</a>
					<a class="button flat violet" href="<$BlogUrl$>search/label/Moviments Socials" title="Realitat: Moviments Socials">Moviments Socials</a>
					<a class="button flat red" href="<$BlogUrl$>search/label/Moviment Obrer" title="Realitat: Moviment Obrer">Moviment Obrer</a>
					<a class="button flat orange" href="<$BlogUrl$>search/label/Història" title="Realitat: Història">Història</a>
					<a class="button flat yellow" href="<$BlogUrl$>search/label/Coneixement" title="Realitat: Coneixement">Coneixement</a>
				</div>
				<hr>
				<footer>
					<h5>Realitat</h5>
					<div class="button-centered">
						<a href="<$BlogUrl$>feeds/posts/default" class="button-icon circled lines orange" target="blank" title="Segueix-nos amb RSS"> RSS </a>
						<a href="http://www.twitter.com/larealitat" class="button-icon circled lines soft-blue" target="blank" title="Segueix-nos a Twitter"> Tw </a>
						<a href="http://www.facebook.com/larealitat" class="button-icon circled lines blue" target="blank" title="Segueix-nos a Facebook"> Fb </a>
					</div>
					<adress class="">
						<span class="location symbol-gear">carrer Liuva, 39-45, Barcelona</span>  
						<span class="website symbol-hyperlink"><a href="http://realitat.cat" title="www.realitat.cat">www.realitat.cat</a></span> 
						<span class="email symbol-email"><a href="mailto:info@realitat.cat" title="Escriu">info@realitat.cat</a></span> 
						<span class="phone symbol-blackphone"><a href="tel:+0034933184282" title="truca">(0034) 93 318 42 82</a></span> 
					</adress>
				</footer>
			</div>
		</section>

		<footer id="terms-footer" class="flat black anm-fadeIn delay-500 slow">
			<div class="content s">
				<span class="license symbol-copyright"> 2014 Comunistes de Catalunya. <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca" title="Termes de la llicència">Reconeixement - No comercial - Compartir igual (By-nc-sa)</a> </span>  
				<span class="legal symbol-justice"><a href="http://codi.comunistes.cat/organitzacio/avislegal.html" title="Informació legal">Avís legal</a></span> 
				<span class="legal symbol-radioactive"><a href="http://codi.comunistes.cat" title="Informació sobre el codi font">Codi font</a></span> 
			</div>
		</footer>

	</div><!-- /#page -->
   
    <!-- Scripts
    ================================================== -->
	<script src="http://codi.comunistes.cat/src/js/ga-realitat.js" type="text/javascript"></script>

  </body>
</html>