<!DOCTYPE html>
<html lang="ca">
	<head>
		<!-- meta -->
		<meta charset="utf-8">
		<title><$BlogPageTitle$></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="Informació classe treballadora">
		<meta name="author" content="Comunistes de Catalunya">
		<!-- Metadata: GeoTags -->
		<meta name="geo.region" content="Catalunya">
		<meta name="geo.placename" content="Barcelona">
		<meta name="geo.position" content="41.426812;2.234972">
		<meta name="ICBM" content="41.426812;2.234972">
		<!-- Screen styles -->
		<link href="http://codi.realitat.cat/src/css/styles.css" rel="stylesheet" media="screen">
		<link href="http://codi.realitat.cat/src/css/anime.css" rel="stylesheet" media="screen">
		<link href="http://codi.realitat.cat/src/css/realskin.css" rel="stylesheet" media="screen">
		<!-- Print styles -->
		<link href="http://codi.realitat.cat/src/css/print.css" rel="stylesheet" media="print">
		<!-- If iexplorer :( -->
		<!--[if lt IE 9]><script src="http://codi.realitat.cat/src/js/html5shiv.js"></script><![endif]-->
		<!--[if IE]><link rel="stylesheet" type="text/css" href="http://codi.realitat.cat/src/css/iexplorer.css" /><![endif]-->
		<!-- If JS disabled -->
		<noscript><link href="http://codi.realitat.cat/src/css/noscript.css" rel="stylesheet" media="screen"></noscript>
		<!-- Site Feed -->
		<link rel="alternate" type="application/rss+xml" title="rss" href="<$BlogSiteFeedUrl$>">
		<!-- Page Icons -->
		<link rel="shortcut icon" href="http://codi.realitat.cat/src/ics/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="http://codi.realitat.cat/src/ics/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="http://codi.realitat.cat/src/ics/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="http://codi.realitat.cat/src/ics/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="http://codi.realitat.cat/src/ics/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="http://codi.realitat.cat/src/ics/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="http://codi.realitat.cat/src/ics/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="http://codi.realitat.cat/src/ics/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="http://codi.realitat.cat/src/ics/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="http://codi.realitat.cat/src/ics/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="http://codi.realitat.cat/src/ics/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="http://codi.realitat.cat/src/ics/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="http://codi.realitat.cat/src/ics/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="http://codi.realitat.cat/src/ics/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="http://codi.realitat.cat/src/ics/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="http://codi.realitat.cat/src/ics/manifest.json">
		<meta name="apple-mobile-web-app-title" content="realitat*">
		<meta name="application-name" content="realitat*">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/src/ics/mstile-144x144.png">
		<meta name="msapplication-config" content="/src/ics/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">	</head>
	<body>
  
	<!-- Page content -->
	<div class="page" id="page">
	
		<MainOrArchivePage>
		<header id="blog-header" class="base universe">
			<div class="content">
					<h1><a href="<$BlogUrl$>" title="<$BlogDescription$>">
						<$BlogTitle$>
						<span class="icon s"><svg version="1.1" id="red-star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon fill="#E31619" points="256.621,49.32 322.126,182.047 468.599,203.331 362.609,306.645 387.631,452.525 256.621,383.65 125.611,452.525 150.632,306.645 44.643,203.331 191.116,182.047 "/> </svg></span>
					</a></h1>
					<p class="lead"><$BlogDescription$></p>
			</div>
		</header>
		<nav id="blog-menu" class="">
			<div class="content universe">
				<input class="toggletrigger" type="checkbox" id="mob-nav" name="mob-nav" aria-hidden="true" hidden>
				<label for="mob-nav" class="toggle">Menú <span class="caret"></span></label>
				<div id="nav-collapse" class="togglecollapsed">
					<a href="<$BlogUrl$>" title="Portada"><b>Realitat</b></a>
					<a href="<$BlogUrl$>search/label/Editorial" title="Realitat: Editorials">Editorial</a>
					<a href="<$BlogUrl$>search/label/Local" title="Realitat: Local">Local</a>
					<a href="<$BlogUrl$>search/label/Nacional" title="Realitat: Nacional">Nacional</a>
					<a href="<$BlogUrl$>search/label/Internacional" title="Realitat: Internacional">Internacional</a>
					<a href="<$BlogUrl$>search/label/Història" title="Realitat: Història">Història</a>
					<a href="<$BlogUrl$>search/label/Coneixement" title="Realitat: Coneixement">Coneixement</a>
						<form class="form-search" action="http://www.google.com/cse"> 
							<input type="hidden" name="cx" value="007620493827235173837:iw6nd8cvpza"> 
							<input type="text" name="q" class="terms squared" placeholder="cerca"> 
							<input type="submit" name="sa" class="search" value="·"> 
						</form>
				</div>
			</div>
		</nav>
		<main id="blog-content" class="">
			<div class="content">
				<div class="cell-2 hidden-phone">
					<aside class="aside-tools base">
						<h2 class="universe thin"><small>Segueix-nos</small></h2>
						<div class="button-centered s">
							<a href="<$BlogUrl$>feeds/posts/default" class="button-icon circled lines orange" target="blank" title="Segueix-nos amb RSS"> RSS </a> <br class="hidden-phone">
							<a href="http://www.twitter.com/larealitat" class="button-icon circled lines soft-blue" target="blank" title="Segueix-nos a Twitter"> Tw </a> <br class="hidden-phone">
							<a href="http://www.facebook.com/larealitat" class="button-icon circled lines blue" target="blank" title="Segueix-nos a Facebook"> Fb </a>
						</div>
					</aside>
				</div>
				<div class="cell-8">
					<Blogger>
						<article class="post" id="<$BlogItemNumber$>">
							<h3 class="post-title"><a href="<$BlogItemPermalinkUrl$>" title="Article: <$BlogItemTitle$>"><$BlogItemTitle$></a></h3>
							<h6 class="post-date"><a href="<$BlogUrl$><$BlogItemArchiveFileName$>" title="<$BlogItemArchiveFileName$>"><$BlogItemDateTime$></a></h6>
							<div class="post-excerpt"><$BlogItemBody$></div>
						</article>
					</Blogger>
					<nav class="pagination"><$BlogPaginationLinks$></nav>
					<hr>
				</div>
				<div class="cell-2">
					<aside class="aside-tools base">
						<h2 class="universe thin"><small>Comparteix</small></h2>
						<div class="button-centered s">
							<a href="http://twitter.com/?status=<$BlogURL$>" class="button-icon lines soft-blue" title="Comparteix a Twitter">Tw</a> <br class="hidden-phone">
							<a href="http://www.facebook.com/sharer.php?u=<$BlogURL$>&t=<$BlogItemTitle$>" class="button-icon lines blue" title="Comparteix a Facebook">Fb</a> <br class="hidden-phone">
							<a href="https://plusone.google.com/_/+1/confirm?hl=en&url=<$BlogURL$>" class="button-icon lines red" title="Comparteix a Google +">G+</a>
						</div>
					</aside>
				</div>
				<hr class="no-margin">
			</div>
		</main>
		</MainOrArchivePage>
		
		
		<ItemPage>
		<nav id="blog-menu" class="">
			<div class="content universe">
				<input class="toggletrigger" type="checkbox" id="mob-nav" name="mob-nav" aria-hidden="true" hidden>
				<label for="mob-nav" class="toggle">Menú <span class="caret"></span></label>
				<div id="nav-collapse" class="togglecollapsed">
					<a href="<$BlogUrl$>" title="Portada"><b>Realitat</b></a>
					<a href="<$BlogUrl$>search/label/Editorial" title="Realitat: Editorials">Editorial</a>
					<a href="<$BlogUrl$>search/label/Local" title="Realitat: Local">Local</a>
					<a href="<$BlogUrl$>search/label/Nacional" title="Realitat: Nacional">Nacional</a>
					<a href="<$BlogUrl$>search/label/Internacional" title="Realitat: Internacional">Internacional</a>
					<a href="<$BlogUrl$>search/label/Història" title="Realitat: Història">Història</a>
					<a href="<$BlogUrl$>search/label/Coneixement" title="Realitat: Coneixement">Coneixement</a>
						<form class="form-search" action="http://www.google.com/cse"> 
							<input type="hidden" name="cx" value="007620493827235173837:iw6nd8cvpza"> 
							<input type="text" name="q" class="terms squared" placeholder="cerca"> 
							<input type="submit" name="sa" class="search" value="·"> 
						</form>
				</div>
			</div>
		</nav>
		<header id="article-header" class="universe">
			<div class="content">
				<div class="prev-next"><$BlogPaginationLinks$></div>
				<Blogger>
					<div class="cell-8 pushed-2">
						<h1 class="article-title" class=""><$BlogItemTitle$></h1>
						<h2 class="article-date" class=""><a href="<$BlogUrl$><$BlogItemArchiveFileName$>" title="<$BlogItemArchiveFileName$>"><time><$BlogItemDateTime$></time></a></h2>
					</div>
					<hr class="no-margin">
				</Blogger>
			</div>
		</header>
		<main id="article-content" class="">
			<div class="content">
				<div class="cell-2 hidden-phone">
					<aside class="aside-tools base">
						<h2 class="universe thin"><small>Segueix-nos</small></h2>
						<div class="button-centered s">
							<a href="<$BlogUrl$>feeds/posts/default" class="button-icon circled lines orange" target="blank" title="Segueix-nos amb RSS"> RSS </a> <br class="hidden-phone">
							<a href="http://www.twitter.com/larealitat" class="button-icon circled lines soft-blue" target="blank" title="Segueix-nos a Twitter"> Tw </a> <br class="hidden-phone">
							<a href="http://www.facebook.com/larealitat" class="button-icon circled lines blue" target="blank" title="Segueix-nos a Facebook"> Fb </a>
						</div>
					</aside>
				</div>
				<div class="cell-8">
					<Blogger>
						<div id="article-body" class="article-body">
							<$BlogItemBody$>
						</div>
						<hr>
						<p class="universe"><a href="<$BlogItemUrl$>" title="Veure la font en una nova pàgina" target="blank"><$BlogItemUrl$></a></p>
						<hr>
					</Blogger>
					<nav class="pagination"><$BlogPaginationLinks$></nav>
					<hr>
					<Blogger>
						<BlogItemCommentsEnabled>
						<aside id="comment-form">
						   <h4 class="universe"><$BlogItemCommentCount$> Comentari(s):</h4>
						   <BlogItemComments>
								<a name="<$BlogCommentNumber$>"></a>
								<div class="conversation-a">
									<p><strong><$BlogCommentAuthor$> ha dit:</strong><br /><$BlogCommentBody$></p>
									<p>at <a href="#<$BlogCommentNumber$>"><$BlogCommentDateTime$></a><$BlogCommentDeleteIcon$></p>
								</div>
								<hr />
							</BlogItemComments>
						   <div class="button-centered"><a class="button-icon lines green" title="Publica un comentari" href="<$BlogItemCommentCreate$>" <$BlogItemCommentFormOnClick$>>+</a></div>
						</aside>
						<hr>
						</BlogItemCommentsEnabled>
					</Blogger>
				</div>
				<div class="cell-2">
					<aside class="aside-tools base">
						<h2 class="universe thin"><small>Comparteix</small></h2>
						<div class="button-centered s">
							<Blogger>
								<a href="http://twitter.com/?status=<$BlogItemPermalinkURL$>" class="button-icon lines soft-blue" title="Comparteix a Twitter">Tw</a> <br>
								<a href="http://www.facebook.com/sharer.php?u=<$BlogItemPermalinkURL$>&t=<$BlogItemTitle$>" class="button-icon lines blue" title="Comparteix a Facebook">Fb</a> <br>
								<a href="https://plusone.google.com/_/+1/confirm?hl=en&url=<$BlogItemPermalinkURL$>" class="button-icon lines red" title="Comparteix a Google +">G+</a>
							</Blogger>
						</div>
					</aside>
					<aside class="aside-tools base">
						<h2 class="universe thin"><small>Anteriors</small></h2>
						<nav><BloggerPreviousItems>
							<ul>
								<li><a href="<$BlogItemPermalinkURL$>" title="<$BlogItemTitle$>"><$BlogPreviousItemTitle$></a></li>
							</ul>
						</BloggerPreviousItems></nav>
					</aside>
				</div>
				<hr>
			</div>
		</main>
		</ItemPage>
		
		<section id="site-quote" class="flat hard-grey">
			<div class="content universe">
				<h2><a href="<$BlogUrl$>" title="<$BlogTitle$>">www.realitat.cat</a></h2>
				<div class="cell-6 pushed-3">
					<blockquote class="book-quote">
						<p>Les coses són senceres allò que aparenten, i darrera d'elles... no hi ha res.</p>
						<cite>Jean-Paul Sartre</cite>
					</blockquote>
				</div>
				<hr class="no-margin">
			</div>
		</section>
		
		<footer id="terms-footer" class="universe flat black">
			<div class="content">
				<span class="license symbol-copyright"> 2015 Comunistes de Catalunya <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca" title="Termes de la llicència">(By-nc-sa)</a> </span>  
				<span class="email symbol-email"><a href="mailto:info@realitat.cat" title="Escriu">info@realitat.cat</a></span> 
				<span class="legal symbol-justice"><a href="http://codi.realitat.cat/organitzacio/avislegal.html" title="Informació legal">Avís legal</a></span> 
			</div>
		</footer>

	</div><!-- /#page -->
   
    <!-- Scripts
    ================================================== -->
	<script src="http://codi.realitat.cat/src/js/ga-realitat.js" type="text/javascript"></script>

  </body>
</html>