---
layout: default
---

		<header id="page-header" class="flat soft-granate universe anm-scaleUpDown">
			<h5 class="anm-fadeIn thin"><a href="{{ site.url }}" title="{{ site.name }}"> {{ site.name }} </a></h5>
			<h1 class="anm-zoomInDown delay-500">{{ page.title }}</h1>
			<p>Escrit el {{ page.date | date: "%e / %m / %Y" }}</p>
		</header>	
		
		<main id="content">
			<div class="content anm-zoomInUp">
			
				<div class="cell-8 pushed-2">
					<hr>
					{{ content }}
				</div>
				<div class="cell-2 universe">
					<div class="button-centered s">
						<div class="sharing-icons"></div>
					</div>
				</div>
				<hr>
				
			</div>
		</main>
		