---
layout: default
---

		<header id="page-header" class="flat soft-granate universe anm-scaleUpDown">
			<p class="s"><a href="{{ site.url }}" title="{{ site.name }}">- {{ site.name }} -</a></p>
			<h1 class="anm-zoomInDown delay-500">{{ page.title }}</h1>
			<p class="universe thin l">Escrit el {{ page.date | date: "%e / %m / %Y" }}</p>
		</header>	
		
		<main id="content">
			<div class="content anm-zoomInUp">
			
				<div class="entry">
					{{ content }}
				</div>
				<hr>
				
			</div><!-- /.content -->
		</main>
		